/* Add styling for your page here */

.App {
  display: flex;
  justify-content: flex-start;
}
.content {
  width: 70%
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-team-row{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}


.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cart {
  position: fixed;
  left: 62%;
}
#header{
  justify-content: space-between;
}
/* Dropdown Button */
.dropbtn {
  background-color: #15c4c7;
  color: white;
  padding: 16px;
  margin: 0px 10vw 0 0;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  min-width: 160px;

  font-size: 16px;
  font-weight: 400;
  border: none;
  background: none;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #296c74;}


